 body  {
    background-image: url("https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60");
  } .button{
    display:ruby;
    padding:.5rem 2rem;
    border:.2rem solid var(--red);
    color:var(--red);
    cursor: pointer;
    font-size: .5rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: .5rem;
  }